/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 20, 2015, 1:56:12 PM
    Author     : onekalit
*/

.cp {
    /*  background-image: url(pics/black.jpg); 
    */
    
    
    margin: 80px;
    padding: 15px;
    width: 500px;
    height: 500px;
    border: 8px solid green;
    background-color: #ffffff;
   
} 
body {
    background-color: #d0e4fe;
}
h1 {
    color: green;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
.div1{
    columns: initial;
    
    
}


